# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*.egg-info/

# .NET
bin/
obj/
.vs/
*.user
*.suo

# Environment variables
.env
.env.*
!.env.example

# Datasets
datasets/raw/*
datasets/external/*
datasets/processed/*
!datasets/raw/job_positions.csv

# Models
models/*

# macOS
.DS_Store
